@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
}

h1 {
  font-size: x-large;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  color: #666;
}



.switch {
  position: absolute;
  cursor: pointer;
  top: 1em;
  right: 2em;
  background-color: transparent;
  border: none;
}

.cards-view {
  margin-top: 5em;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
}

.list-view {
  margin-top: 5em;
  margin-left: 3em;
}

.price-box {
  height: available;
}

.price {
  font-size: 26px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 190px;
  float: bottom;
  vertical-align: bottom;
  text-align: left;
  color: darkred;
}

.list-price {
  font-size: 26px;
  font-weight: bold;
  color: darkred;
}

.cart-button {
  background: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border-color: darkred;
  color: darkred;
}

.shop-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #808080;
}

.shop-item{
  align-items: center;
  margin-top: 1px;
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: available;
  background-color: #f5f5f5;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
}
